@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --color-primario:#504B38;
    --color-secundario:#B9B28A;
    --color-terciario:#EBE5C2 ;
    --color-cuatro: #F8F3D9;

    --fuente-Montserrat:'Montserrat', sans-serif ;
    --funete-krona:'krona one', sans-serif ;
    

}
 
* {
    padding: 0;
    margin:0;
}

body{
 
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
    padding: 2% 0% 0% 15%;

}

.header__menu{
    display: flex;
    gap: 80px;

}

.header__menu__link{
    font-family:var(--fuente-Montserrat) ;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
   
}

.titulo-destaque {
    color: var(--color-terciario) ;
}

.presentacion {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}



.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--funete-krona);
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-Montserrat);
}


.presentacion__enlaces__link{
   
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: 'Montserrat', sans-serif;
    border: 2PX solid var(--color-terciario);
}


.boton__de__envio{
    font-family: var(--fuente-Montserrat);
    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    margin-top: 5px; 
    border: 1px solid var(--color-primario); 
    border-radius: 5px; 
    transition: 0.3s; 
    
    

}

.espacio__para__escribir{

    width: 100%; 
    padding: 10px; 
    font-size: 16px; 
    margin-top: 5px; 
    border-radius: 5px; 
    transition: 0.3s; 
}
.footer{
    background-color: var(--color-terciario);
    color: var(--color-primario);
    font-family:var(--fuente-Montserrat);
    font-size: 24px;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    
    
}


.header__menu__link:hover{
    color: var(--color-secundario);
}